.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
**/yarn.lock

huf/public/frontend
huf/public/docs
huf/www/huf.html
huf/www/docs.html
docs/.next
docs/out
docs/node_modules
docs/yarn.lock